<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Explorer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCreateEvent()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="toolbar">
        <ion-title>EventHive</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
    <ion-card *ngFor="let event of events" (click)="openDetails(event.id)">
      <ion-card-header>
        <ion-card-title>{{ event.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>{{ event.description }}</p>
        <p>Date: {{ event.date | date:'short' }}</p>
        <p>Price: {{ event.price }}€</p>
        <p>Tickets Available: {{ event.ticketsAvailable }}</p>
        <p>Tickets Sold: {{ event.ticketsSold }}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
