<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ event?.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="tabs/explore" color="primary"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title size="large">{{ event?.title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="event">
    <ion-card-header>
      <ion-card-title>{{ event.title }}</ion-card-title>
      <ion-card-subtitle>{{ event.date | date:'short' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="content-card">
      <div class="informations">
        {{ event.description }}
      </div>
      <div class="description">
        <p>Price: {{ event.price | currency }}</p>
        <p>Tickets Available: {{ event.ticketsAvailable }}</p>
        <p>Tickets Sold: {{ event.ticketsSold }}</p>
      </div>
      <ion-button color="primary" (click)="buyTicket()">Acheter un ticke</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

